.sidebarlogin {
  background-image: url("/src/assets/img/amalitech.png");
  background-repeat: no-repeat;
  background-color: #d95a27;
}

.rowSidenav {
  height: 100vh;
}

input {
  border-color: black;
}
